* {
  /*stroke-dasharray: 2, 3;*/
}

svg>* {
  fill: #CCC;
  fill-opacity: 0;
  stroke: #CCC;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  stroke-dasharray: none;
  stroke-opacity: 1;
  /*opacity:0;*/
}

text {
  fill-opacity: 1.0000;
  font-style: normal;
  font-family: Helvetica;
  font-weight: normal;
  stroke: none;
  fill: #ffcc66;
  font-size: 12.000;
  x: 0;
  y: 0;
}

#drawing {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.Quadrilateral, .Triangle {
  fill: #999;
  stroke: #999;
  fill-opacity: 0.2;
  stroke-width: 1;
}

.Quadrilateral {
  fill: #390;
  stroke: #390;
}

.Quadrilateral.y {
  fill: #390;
}

.Quadrilateral.y.b {
  fill: #039;
}

.Triangle {
  fill: #900;
  stroke: #900;
}

.Segment {
  fill: none;
  stroke: #333;
  stroke-width: 4px;
  stroke-linecap: round;
}

.Q {
  stroke: #999;
}

.Segment.y4 {
  stroke: #390;
}

.Line {
  stroke: #333;
}

.Line.b {
  stroke-dasharray: 6, 4, 2, 4;
}

.Circle {
  stroke: #CCC;
}

.Sector {
  fill-opacity: 0.6;
  stroke-width: 1;
}

.Sector.s03,
.Sector.s04,
.Sector.s05 {
  fill-opacity: 0.6;
}

.Point {
  fill: #FFF;
  fill-opacity: 1;
  stroke: #000;
  stroke-width: 1;
  stroke-opacity: 1;
}

.Point.p {
  fill: #FFF;
}

.Point.g {
  fill: #000;
  stroke: #C90;
  stroke-width: 3;
  stroke-opacity: .5;
}

.s00 {
  stroke: #999;
}

.s01 {
  stroke: #999;
}

.s02 {
  stroke: #C00;
}

.s03 {
  stroke: #0C0;
}

.s04 {
  fill: #C00;
  stroke: #C00;
}

.s05 {
  stroke: #09C;
  fill: #09C;
}

.Quadrilateral.y.s05 {
  stroke: #09C;
  fill: #09C;
}

.s06 {
  stroke: #09C;
  fill: #09C;
}

.st10 {
  fill: none;
  stroke: #333;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1.5, 3;
}

.Segment.g {
  stroke-linecap: round;
  stroke: #C90;
  stroke-opacity: .5;
}

.Segment.g.a,
.Segment.g.a1,
.Segment.g.a2 {
  stroke-width: 8;
  /*stroke-dasharray: 6, 3;*/
}

.Segment.g.b,
.Segment.g.b1,
.Segment.g.b2 {
  stroke-width: 13;
  /*stroke-dasharray: 12, 3;*/
}
