<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>SVG Draw</title>

  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/snap.css" type="text/css">
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />

  <!-- katex -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css" integrity="sha384-exe4Ak6B0EoJI0ogGxjJ8rn+RN3ftPnEQrGwX59KTCl5ybGzvHGKjhPKk/KC3abb" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.js" integrity="sha384-OMvkZ24ANLwviZR2lVq8ujbE/bUO8IR1FdBrKLQBI14Gq5Xp/lksIccGkmKL8m+h" crossorigin="anonymous"></script>

  <!-- svg.js -->
  <script src="./js/svgjs/svg.js/dist/svg.js"></script>
  <script src="./js/svgjs/svg.path.js/svg.path.js"></script>

  <!-- algebra -->
  <script src="./algebra.js/build/algebra-0.2.6.min.js"></script>
  <script src="./Algebrite/dist/algebrite.bundle-for-browser.js"></script>

</head>

<body>
  <main>
    <svg id="drawing" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 6 6" preserveAspectRatio="xMidYMid slice">
          </svg>
  </main>
  <aside>
    <code>
    <pre id="info">
      <!-- <img id="logo_header" src="geometor_logo.svg" alt="Geometor" /> -->
      <!-- <button id="play">toggle play()</button>
      <button id="reverse">reverse()</button>
      <button id="resume">resume()</button>
      <button id="pos1">#1</button>
      <button id="pos2">#2</button>
      <button id="pos3">#3</button>
      <button id="restart">restart</button>
      <div id="sliderWrapper">
      <div id="slider"></div>
      </div> -->
    </pre>
  </code>
  </aside>

  <!-- <script src='js/jquery-3.1.1.min.js'></script> -->
  <!-- <script src='js/jquery-ui.min.js'></script> -->
  <!-- <script src='js/TweenMax.min.js'></script> -->
  <!-- <script src="js/geometor.svg.js"></script> -->
  <!-- script src="js/geometor.ui.js"></script -->
  <script src="./js/SVG.Elements.js"></script>
  <script src="./js/main.js"></script>

</body>

</html>
