body, h1, h2, h3, p {
    font-family: "Helvetica";
    margin: 0;
    color: #999;
}

body {
    background-color: #fff;
}

#nav {
    text-align: right;
    margin: 20px 10px;
}

#nav img {
    text-align: center;
    position: relative;
    margin-right: 20px;
}

button {
    padding: 10px;
    margin-top: 10px;
}

button:nth-child(1) {
    margin-left: 10px;
}

#slider {
    width: 100%;
    margin: 10px auto;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    /*height: 100%;*/
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin:0;
}

#logo {
    position: absolute;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#logo_header {
  width: 250px;
  margin: auto;
  opacity: .7;
  display:block;
}


/********************/


.math {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  font-size: 30px;
  /*font-family: "Lucida Sans Unicode";*/
  font-family: "Helvetica";
}

math {
  font-family: "Helvetica";
}
.phi {
  font-size: 2em;
  color: gold;
  font-family: "Lucida Sans Unicode";

}

.nest {
    font-size: .9em;
}


/********************/
